{% extends 'record.html' %}
{% block title %}{{ title }}{% endblock %}
{% block element %}
    <div class="col-md-12">
        <h2>Region {{ region.pk }}</h2>
        <p><strong>Post office name: </strong>{{ region.post_office }}</p>
        <p><strong>Index: {{ region.index }}</strong></p>
        <p><strong>Houses count: {{ houses.count }}</strong></p>
        <p><strong>Postman: {{ region.postman }}</strong></p>
        <p><a class="btn btn-success" href="{% url 'regions' %}" role="button">Back to records
            »</a>
        </p>
    </div>
{% endblock %}