<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF output</title>
    <style>
        @page {
            size: A4;
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;

            @top-center {
                content: "Report";
            }

            @bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }

    </style>
</head>
<body>
<div class="mt-4 mb-4">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Region index</th>
            <th>Postman</th>
            <th>Publications</th>
            <th>Post office info</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ region.index }}</td>
                <td>{{ region.postman }}</td>
                <td>
                    {% for subscription in region.post_office.release_set.all %}
                        <strong>Publication({{ forloop.counter }})</strong><p>{{ subscription }}</p>
                    {% endfor %}
                </td>
                {% if superuser %}
                    <td>
                        Post office name: {{ region.post_office }}<br>
                        Employees count: {{ region.post_office.employee_set.all.count }}<br>
                        Served regions count: {{ region.post_office.region_set.all.count }}<br>
                        Count of types of publications: {{ region.post_office.release_set.all.count }}
                    </td>
                {% else %}
                    {% if forloop.counter <= 1 %}
                        <td>
                            Post office name: {{ region.post_office }}<br>
                            Employees count: {{ region.post_office.employee_set.all.count }}<br>
                            Served regions count: {{ region.post_office.region_set.all.count }}<br>
                            Count of types of publications: {{ region.post_office.release_set.all.count }}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a href="/" class="btn btn-success">Back to home</a>
</body>
</html>